@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240 4% 46%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --input: 249 6% 90%;
    --border: 249 6% 90%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark:root {
    --background: 240 9% 4%;
    --foreground: 0 0% 90%;

    --muted: 240 5% 19%;
    --muted-foreground: 228 6% 68%;

    --accent: 240 5% 19%;
    --accent-foreground: 0 0% 98%;

    --popover: 240 9% 4%;
    --popover-foreground: 0 0% 98%;

    --border: 240 6% 14%;
    --input: 240 6% 14%;

    --card: 240 9% 4%;
    --card-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 240 9% 4%;

    --secondary: 240 6% 14%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 6% 14%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
