@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --accent-main-000: hsl(15 52.7% 43.9%);
  --accent-main-100: hsl(16 53.8% 47.5%);
  --accent-main-200: hsl(15 55.6% 52.4%);
  --accent-main-900: hsl(15 48% 90.2%);
  --constant-clay: hsl(15 63.1% 59.6%);
  --constant-kraft: hsl(25 49.7% 66.5%);
  --constant-manilla: hsl(40 54% 82.9%);
  --constant-slate-000: hsl(0 0% 100%);
  --constant-slate-050: hsl(48 33.3% 97.1%);
  --constant-slate-100: hsl(53 28.6% 94.5%);
  --constant-slate-1000: hsl(60 3.4% 5.7%);
  --constant-slate-150: hsl(48 25% 92.2%);
  --constant-slate-200: hsl(50 20.7% 88.6%);
  --constant-slate-250: hsl(51 16.5% 84.5%);
  --constant-slate-300: hsl(50 11.5% 79.6%);
  --constant-slate-350: hsl(50 9% 73.7%);
  --constant-slate-400: hsl(49 6.5% 66.9%);
  --constant-slate-450: hsl(48 4.8% 59.2%);
  --constant-slate-500: hsl(53 3.2% 51.4%);
  --constant-slate-550: hsl(51 3.1% 43.7%);
  --constant-slate-600: hsl(48 2.7% 35.9%);
  --constant-slate-650: hsl(48 3.4% 29.2%);
  --constant-slate-700: hsl(60 2.5% 23.3%);
  --constant-slate-750: hsl(60 2.1% 18.4%);
  --constant-slate-800: hsl(60 2.7% 14.5%);
  --constant-slate-850: hsl(30 3.3% 11.8%);
  --constant-slate-900: hsl(30 4% 9.8%);
  --constant-slate-950: hsl(60 2.6% 7.6%);

  --background: oklch(0.98 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: hsl(54 10% 80.39%);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-accent-main-background: var(--accent-main-100);
  --color-accent-main-foreground: var(--accent-main-900);
  --color-accent-main: var(--accent-main-200);
  --color-accent-main-000: var(--accent-main-000);
  --color-accent-main-100: var(--accent-main-100);
  --color-accent-main-200: var(--accent-main-200);
  --color-accent-main-900: var(--accent-main-900);
  --color-bg-000: var(--constant-slate-000);
  --color-bg-100: var(--constant-slate-050);
  --color-bg-200: var(--constant-slate-150);
  --color-bg-300: var(--constant-slate-200);
  --color-bg-400: var(--constant-slate-250);
  --color-bg-500: var(--constant-slate-300);
  --color-border-100: var(--constant-slate-500);
  --color-border-200: var(--constant-slate-500);
  --color-border-300: var(--constant-slate-500);
  --color-border-400: var(--constant-slate-500);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
